/**** TABLE *****/

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 720px;
  max-width: 100%;
  font-family: Roboto, Arial, sans-serif;
}

th,
td {
  border: 2px solid #666;
  padding: 10px 12px;
  text-align: center;
  vertical-align: middle;
}

th {
  font-weight: 580;
  font-size: 40px;
  font-family: Road Rage;
}

td {
  font-size: 14px;
}

table tr:last-child td {
  font-size: 12px;
  padding: 12px;
  background-color: antiquewhite;
}

h4{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    font-family: Roboto;
    margin-top: 64px;
    margin-bottom: 32px;
}

/**** VIDEO *****/

video{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 2%;
}

/**** FORM *****/

label{
    font-size: 16px;
    margin-left: 40px;
    margin:10px;
    font-family: Roboto;
}

p{
    font-size: 16px;
    margin-left: 40px;
    margin:10px;
    font-family: Roboto;
}

button{
   border: 1px solid white;
   background-color: rgb(226, 223, 223);
   border-radius: 5%;
   margin: 15px;
   padding: 15px;
   cursor: pointer; 
}

button:hover{
    background-color: rgb(44, 102, 179);
}

/**** ENHANCEMENTS *****/

aside article:first-of-type img{
    transition: transform 2s ease;
}
aside article:first-of-type:hover img{
    transform: rotate(30deg);
}

aside article:last-of-type img{
    transform: rotate(40deg);
}



