/****
You cannot change any of this CSS
Any changes are to be made in a separate CSS file.
*****/
html{
    font-size: 67.5%;
}

* {
    box-sizing: border-box;
}

header, main, footer {
    max-width: 980px;
    margin: 0 auto;
    border: 1px solid;
}
main{ 
    overflow: hidden;
    clear: both;
    margin-top: 20px;
}

header, main {
    padding: 20px;
    overflow:hidden;
}

header h1 {
    font-size: 4em;
    font-family: 'Road Rage', cursive;
    text-align: center;
}

header h2{
    font-family: 'Creepster', cursive;
    text-align: center;
    font-size: 6em;
}

nav li {
    font-size: 1.6em;
    font-family: Arial,sans-serif;

}

header li {
    float: left;
    width: 31%;
    padding: 1em 0;
    margin: 0 1%;
    text-align: center;
    border: 1px solid;
}

header a {
    display: block;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

div {
    height: 200px;
    padding: 20px;
    border: 1px solid;
    width: 85%;
    margin: 0 auto;
}

h3{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    padding: 20px;
    margin: 20px 0;
}

h4 {
    font-family:'Road Rage', cursive;
    text-align: center;
    font-size: 3.2em;
    margin-top: 20px;
    padding: 10px;
}

article img{
    display: block;
    width: 25%;
    margin: 0 auto;
}

aside{
    display: flex;
}

article {
    width: 33%;
}

article p {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.4em;
    font-family: Roboto, sans-serif;
    padding: 5px 0;
}

article + article {
    border-left: 1px solid black;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px 0px;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/****
You cannot change any of this CSS
Any changes are to be made in a separate CSS file.
*****/
